# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Entornos virtuales
.venv/
venv/
env/

# Streamlit y editores
.streamlit/secrets.toml
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
